---
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
# BinPackArguments: false
# AllowAllArgumentsOnNextLine: false
# PenaltyBreakBeforeFirstCallParameter: 0
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: OnePerLine
